/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    #hotel-info {
        position:fixed;
        bottom: 0;
        left: 0;
        width:100%;
        height:100px;
        /* padding: 20px 70px 80px 70px; */
        background-color: rgba(0,0,0,.54);
        color: white
    }

    #imagesCarousel {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .img-carousel {
        height:93vh;
        width:100%;
        overflow: auto
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    #hotel-info {
        position:fixed;
        bottom: 0;
        left: 0;
        width:100%;
        height:100px;
        /* padding: 20px 70px 80px 70px; */
        background-color: rgba(0,0,0,.54);
        color: white
    }
    
    #imagesCarousel {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
    }     

    .img-carousel {
        height:93vh;
        width:100%;
        overflow: auto
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    #hotel-info {
        position:fixed;
        bottom: 0;
        left: 0;
        width:100%;
        height:150px;
        /* padding: 20px 70px 80px 70px; */
        background-color: rgba(0,0,0,.54);
        color: white
    }
    
    #imagesCarousel {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
    }     

    .img-carousel {
        height:93vh;
        width:100%;
        overflow: auto
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    #hotel-info {
        position:fixed;
        bottom: 0;
        left: 0;
        width:100%;
        height:150px;
        /* padding: 20px 70px 80px 70px; */
        background-color: rgba(0,0,0,.54);
        color: white;
        text-align: center;
    }
    
    #imagesCarousel {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
    }     

    .img-carousel {
        height:93vh;
        width:100%;
        overflow: auto
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    #hotel-info {
        position:fixed;
        bottom: 0;
        left: 0;
        width:100%;
        height:150px;
        /* padding: 20px 70px 80px 70px; */
        background-color: rgba(0,0,0,.54);
        color: white;
        text-align: center;
    }
    
    #imagesCarousel {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .img-carousel {
        height:93vh;
        width:100%;
        overflow: auto
    }
}
