<div id="imagesCarousel" class="carousel slide" data-ride="carousel" style="position: relative">
  <ol class="carousel-indicators">
    <li data-target="#imagesCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#imagesCarousel" data-slide-to="1"></li>
    <li data-target="#imagesCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

      <div  class="carousel-item {{imageItem.active}}" *ngFor="let imageItem of images">
          <img class="d-block" src={{imageItem.imagePath}} alt={{imageItem.imageAlt}} height="auto" width="100%">
      </div>

  </div>
  <a class="carousel-control-prev" href="#imagesCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#imagesCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  <div class="hotel-info">
    <div class="float-left">
      <h3 class="hotel-heading">Hotel Gauri Palace, Puri</h3>
      <h6 class="hotel-address">Birla Square, Baliapanda, Puri, Odisha 752001</h6>
    </div>
    <div class="float-right">
      <h6 class="hotel-phone">+91 91234 567 890</h6>
      <h6 class="hotel-e-mail">hotelgauripalacepuri@gmail.com</h6>
    </div>
  </div>
</div>