<div class="container-fluid">

    <div class="row justify-content-center">

        <div class="roomContainer col-md-8"  *ngFor="let roomItem of rooms">

          <div class="row mh-100">
              <div class="col-md-3 mh-100 room-info">
                  <h3> {{roomItem.name}} </h3>
                  <p> {{roomItem.description}}</p>
              </div>
              <div class="mh-100 frame">
                    <span class="helper"></span>
                    <input type="image" [src]="roomItem.toggleCheveronState ? chevron_left_src : chevron_right_src" *showItBootstrap="['sm', 'md', 'lg','xl']" (click)="toggleCheveron($event.target, roomItem);" >
                    <input type="image" [src]="roomItem.toggleCheveronState ? expand_less_src : expand_more_src" *showItBootstrap="['xs']" (click)="toggleExpand($event.target, roomItem);" >
               </div>

              <div  class="col-md-8 mh-100 room-img">
                    <span class="helper"></span>
                    <img src="{{roomItem.displayImagePath}}">                  
              </div>
          </div>
        </div>
      
    </div>

</div>