<div class="container-fluid">

    <div class="row justify-content-center">

        <div class="roomContainer col-md-8"  *ngFor="let roomItem of rooms">

          <div class="row mh-100">
              <div class="col-md-3 mh-100 room-info">
                  <h3> {{roomItem.name}} </h3>
                  <p> {{roomItem.description}}</p>
              </div>
              <div class="mh-100 frame">
                    <span class="helper"></span>
                <img src="../assets/images/chevron_right.svg">
              </div>
              <div  class="col-md-8 mh-100 room-img">
                    <span class="helper"></span>
                    <img src="{{roomItem.displayImagePath}}">                  
              </div>
          </div>
        </div>
      
    </div>

</div>